/*variables page principale*/
/*variables couleur header-footer-boton*/
/*variables buton*/
/* variable mobile-only*/
.container {
  max-width: 100%;
  margin: auto; }
  @media screen and (max-width: 1204px) {
    .container {
      max-width: 100%;
      margin: 0px; } }

.menu {
  width: 60%;
  display: flex;
  margin: auto;
  flex-wrap: wrap; }
  @media screen and (max-width: 1204px) {
    .menu {
      margin: auto; } }
  .menu__titre {
    font-family: 'Kalam', cursive; }
  .menu__menu1 {
    text-align: center;
    display: flex;
    margin-top: 100px;
    height: 600px;
    box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.33);
    width: 40%;
    margin-left: 90px;
    background-color: #fcdfdb;
    font-family: 'Devonshire', cursive; }
    @media screen and (max-width: 1204px) {
      .menu__menu1 {
        width: 100%;
        margin: auto;
        height: 100%;
        font-size: 150%;
        margin-top: 10%;
        margin-bottom: 10%; } }
    @media screen and (max-width: 630px) {
      .menu__menu1 {
        width: 100%;
        margin: auto;
        height: 150px;
        font-size: 30px;
        margin-top: 10%;
        margin-bottom: 10%; } }
    .menu__menu1 a:hover {
      -webkit-transition: all 300ms ease-in;
      -moz-transition: all 300ms ease-in;
      -ms-transition: all 300ms ease-in;
      -o-transition: all 300ms ease-in;
      transition: all 300ms ease-in;
      -webkit-transition: scale(1.2);
      -moz-transition: scale(1.2);
      -ms-transition: scale(1.2);
      -o-transition: scale(1.2);
      transform: scale(1.2);
      z-index: 1; }
    .menu__menu1 a {
      color: black;
      display: flex;
      flex-direction: column;
      margin: auto;
      text-decoration: none;
      font-size: 40px; }
      @media screen and (max-width: 1204px) {
        .menu__menu1 a {
          width: 100%;
          margin: auto;
          height: 200px;
          font-size: 200%;
          margin-bottom: 10%;
          margin-top: 10%; } }
      @media screen and (max-width: 630px) {
        .menu__menu1 a {
          width: 100%;
          margin: auto;
          height: 150px;
          font-size: 30px;
          margin-top: 10%;
          margin-bottom: 10%; } }
    .menu__menu1 img {
      width: 50%;
      margin: auto; }
      @media screen and (max-width: 1204px) {
        .menu__menu1 img {
          width: 17%;
          margin: auto;
          margin-top: -15px; } }
      @media screen and (max-width: 630px) {
        .menu__menu1 img {
          width: 17%;
          margin: auto;
          margin-bottom: 10px;
          margin-top: -15px; } }
    .menu__menu1__gras {
      font-weight: bold;
      font-family: 'lucida', sans-serif; }
  .menu__menu2 {
    text-align: center;
    display: flex;
    margin-top: 100px;
    height: 600px;
    box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.33);
    width: 40%;
    margin-left: 90px;
    background-color: #fff5fe; }
    @media screen and (max-width: 1204px) {
      .menu__menu2 {
        width: 100%;
        margin: auto;
        height: 100%;
        font-size: 150%;
        margin-top: 10%;
        margin-bottom: 10%; } }
    @media screen and (max-width: 630px) {
      .menu__menu2 {
        width: 100%;
        margin: auto;
        height: 150px;
        font-size: 30px;
        margin-top: 10%;
        margin-bottom: 10%; } }
    .menu__menu2 a {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-decoration: none;
      font-size: 40px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, #e38913, #8f5bfe); }
      @media screen and (max-width: 1204px) {
        .menu__menu2 a {
          width: 100%;
          margin: auto;
          height: 200px;
          font-size: 200%;
          margin-bottom: 10%;
          margin-top: 10%; } }
      @media screen and (max-width: 630px) {
        .menu__menu2 a {
          width: 100%;
          margin: auto;
          height: 150px;
          font-size: 30px;
          margin-top: 10%;
          margin-bottom: 10%; } }
    .menu__menu2 a:hover {
      -webkit-transition: all 300ms ease-in;
      -moz-transition: all 300ms ease-in;
      -ms-transition: all 300ms ease-in;
      -o-transition: all 300ms ease-in;
      transition: all 300ms ease-in;
      -webkit-transition: scale(1.2);
      -moz-transition: scale(1.2);
      -ms-transition: scale(1.2);
      -o-transition: scale(1.2);
      transform: scale(1.2);
      z-index: 1; }
  .menu__menu3 {
    background-color: #edefef;
    text-align: center;
    display: flex;
    margin-top: 100px;
    height: 600px;
    box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.33);
    width: 40%;
    margin-left: 90px; }
    @media screen and (max-width: 1204px) {
      .menu__menu3 {
        width: 100%;
        margin: auto;
        height: 100%;
        font-size: 150%;
        margin-top: 10%;
        margin-bottom: 10%; } }
    @media screen and (max-width: 630px) {
      .menu__menu3 {
        width: 100%;
        margin: auto;
        height: 150px;
        font-size: 30px;
        margin-top: 10%;
        margin-bottom: 10%; } }
    .menu__menu3 a {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-decoration: none;
      font-size: 40px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, #0231df, #0889fb);
      font-family: 'Parisienne', cursive; }
      @media screen and (max-width: 1204px) {
        .menu__menu3 a {
          width: 100%;
          margin: auto;
          height: 200px;
          font-size: 200%;
          margin-bottom: 10%;
          margin-top: 10%; } }
      @media screen and (max-width: 630px) {
        .menu__menu3 a {
          width: 100%;
          margin: auto;
          height: 150px;
          font-size: 30px;
          margin-top: 10%;
          margin-bottom: 10%; } }
    .menu__menu3 a:hover {
      -webkit-transition: all 300ms ease-in;
      -moz-transition: all 300ms ease-in;
      -ms-transition: all 300ms ease-in;
      -o-transition: all 300ms ease-in;
      transition: all 300ms ease-in;
      -webkit-transition: scale(1.2);
      -moz-transition: scale(1.2);
      -ms-transition: scale(1.2);
      -o-transition: scale(1.2);
      transform: scale(1.2);
      z-index: 1; }
  .menu__menu4 {
    text-align: center;
    display: flex;
    margin-top: 100px;
    height: 600px;
    box-shadow: 2px 4px 23px 5px rgba(0, 0, 0, 0.33);
    width: 40%;
    margin-left: 90px;
    background-color: #fdfffd; }
    @media screen and (max-width: 1204px) {
      .menu__menu4 {
        width: 100%;
        margin: auto;
        height: 100%;
        font-size: 150%;
        margin-top: 10%;
        margin-bottom: 10%; } }
    @media screen and (max-width: 630px) {
      .menu__menu4 {
        width: 100%;
        margin: auto;
        height: 150px;
        font-size: 30px;
        margin-top: 10%;
        margin-bottom: 10%; } }
    .menu__menu4 a:hover {
      -webkit-transition: all 300ms ease-in;
      -moz-transition: all 300ms ease-in;
      -ms-transition: all 300ms ease-in;
      -o-transition: all 300ms ease-in;
      transition: all 300ms ease-in;
      -webkit-transition: scale(1.2);
      -moz-transition: scale(1.2);
      -ms-transition: scale(1.2);
      -o-transition: scale(1.2);
      transform: scale(1.2);
      z-index: 1; }
    .menu__menu4 a {
      display: flex;
      flex-direction: column;
      margin: auto;
      text-decoration: none;
      font-size: 40px;
      font-family: 'Kalam', cursive;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, #41963c, #beff7f); }
      @media screen and (max-width: 1204px) {
        .menu__menu4 a {
          width: 100%;
          margin: auto;
          height: 200px;
          font-size: 200%;
          margin-bottom: 10%;
          margin-top: 10%; } }
      @media screen and (max-width: 630px) {
        .menu__menu4 a {
          width: 100%;
          margin: auto;
          height: 150px;
          font-size: 30px;
          margin-top: 10%;
          margin-bottom: 10%; } }

.header {
  text-decoration: none;
  text-align: center;
  background-color: #579c87;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
  font-size: 30px;
  color: #fdcb46;
  width: 100%;
  margin: auto; }
  @media screen and (max-width: 1204px) {
    .header {
      width: 100%;
      margin: auto;
      font-size: 15px; } }
  .header a {
    text-decoration: none;
    color: #fdcb46; }

.footer {
  background-color: #579c87;
  height: 80px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: auto;
  z-index: 2; }
  @media screen and (max-width: 1204px) {
    .footer {
      width: 100%;
      margin: auto;
      font-size: 15px; } }

.btn {
  display: flex;
  margin: auto;
  vertical-align: middle; }
  .btn__prochainement {
    border: none;
    display: flex;
    border-radius: 8px;
    background: #579c87;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 25%; }
    @media screen and (max-width: 1204px) {
      .btn__prochainement {
        padding: 2px;
        font-size: 15px;
        height: 50px;
        margin: auto;
        padding-top: 15px; } }
    @media screen and (max-width: 1204px) {
      .btn__prochainement {
        margin-bottom: 100px;
        width: 50%;
        padding-top: 1px; } }
    .btn__prochainement a {
      text-decoration: none;
      color: #fdcb46;
      font: 25px Arial;
      display: inline;
      margin: auto;
      vertical-align: middle; }
      @media screen and (max-width: 1204px) {
        .btn__prochainement a {
          padding: 2px;
          font-size: 15px;
          height: 50px;
          margin: auto;
          padding-top: 15px; } }
    .btn__prochainement .fa-circle {
      animation-name: points-prochainement; }
@keyframes points {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  40% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-10);
    transform: translateY(-10); }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
      .btn__prochainement .fa-circle--1 {
        animation-delay: 0.5s;
        display: inline-block;
        color: #fdcb46;
        width: 7px;
        height: 7px;
        background-color: #fdcb46;
        margin-bottom: 1px;
        margin-left: 5px;
        border-radius: 50%;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: points;
        animation-duration: 1.5s; }
        @media screen and (max-width: 1204px) {
          .btn__prochainement .fa-circle--1 {
            font-size: 1em;
            width: 5px;
            height: 5px; } }
        @media screen and (max-width: 630px) {
          .btn__prochainement .fa-circle--1 {
            font-size: 1em;
            width: 5px;
            height: 5px;
            margin-left: 5px; } }
      .btn__prochainement .fa-circle--2 {
        animation-delay: 1s;
        display: inline-block;
        color: #fdcb46;
        width: 7px;
        height: 7px;
        background-color: #fdcb46;
        margin-bottom: 1px;
        margin-left: 5px;
        border-radius: 50%;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: points;
        animation-duration: 1.5s; }
        @media screen and (max-width: 1204px) {
          .btn__prochainement .fa-circle--2 {
            font-size: 1em;
            width: 5px;
            height: 5px; } }
        @media screen and (max-width: 630px) {
          .btn__prochainement .fa-circle--2 {
            font-size: 1em;
            width: 5px;
            height: 5px;
            margin-left: 5px; } }
      .btn__prochainement .fa-circle--3 {
        animation-delay: 1.5s;
        display: inline-block;
        color: #fdcb46;
        width: 7px;
        height: 7px;
        background-color: #fdcb46;
        margin-bottom: 1px;
        margin-left: 5px;
        border-radius: 50%;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-name: points;
        animation-duration: 1.5s; }
        @media screen and (max-width: 1204px) {
          .btn__prochainement .fa-circle--3 {
            font-size: 1em;
            width: 5px;
            height: 5px; } }
        @media screen and (max-width: 630px) {
          .btn__prochainement .fa-circle--3 {
            font-size: 1em;
            width: 5px;
            height: 5px;
            margin-left: 5px; } }
  .btn__mentions {
    margin: auto;
    vertical-align: middle;
    border-radius: 8px;
    background: #579c87;
    font: 13px Arial;
    display: flex; }
    @media screen and (max-width: 1204px) {
      .btn__mentions {
        padding: 2px;
        font-size: 15px;
        height: 50px;
        margin: auto;
        padding-top: 15px; } }
    .btn__mentions :hover {
      animation-name: angry-animation;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal; }
@keyframes angry-animation {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  5% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  10% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); }
  15% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  20% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); }
  25% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  30% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); }
  35% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  40% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); }
  45% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  50% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
    .btn__mentions a {
      text-decoration: none;
      color: #fdcb46;
      font: 25px Arial;
      display: inline;
      margin: auto;
      vertical-align: middle;
      margin-top: 5%; }
      @media screen and (max-width: 1204px) {
        .btn__mentions a {
          padding: 2px;
          font-size: 15px;
          height: 50px;
          margin: auto;
          padding-top: 15px; } }
  .btn__contact {
    border: none;
    margin: auto;
    border-radius: 8px;
    background: #579c87;
    font: 13px Arial;
    display: flex;
    vertical-align: middle; }
    @media screen and (max-width: 1204px) {
      .btn__contact {
        padding: 2px;
        font-size: 15px;
        height: 50px;
        margin: auto;
        padding-top: 15px; } }
    .btn__contact :hover {
      animation-name: angry-animation;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal; }
@keyframes angry-animation {
  0% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  5% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  10% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); }
  15% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  20% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); }
  25% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  30% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); }
  35% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  40% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px); }
  45% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  50% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }
    .btn__contact a {
      text-decoration: none;
      color: #fdcb46;
      font: 25px Arial;
      display: inline;
      margin: auto;
      vertical-align: middle;
      margin-top: 5%; }
      @media screen and (max-width: 1204px) {
        .btn__contact a {
          padding: 2px;
          font-size: 15px;
          height: 50px;
          margin: auto;
          padding-top: 15px; } }

.menu1 {
  max-width: 100%;
  margin: auto;
  margin-bottom: 80px;
  font-family: 'Devonshire', cursive; }
  .menu1__main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    background-color: #fcdfdb; }
    @media screen and (max-width: 1204px) {
      .menu1__main {
        width: 100%;
        margin: auto; } }
    .menu1__main__texte {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 80%; }
    .menu1__main__img {
      display: flex;
      margin: auto; }
    .menu1__main__titre {
      font-size: 200%;
      margin: auto;
      text-align: center; }
      @media screen and (max-width: 1204px) {
        .menu1__main__titre {
          font-size: 200%; } }
  .menu1__entrees, .menu1__plat, .menu1__dessert {
    font-family: 'Kalam', cursive; }
    .menu1__entrees__prix, .menu1__plat__prix, .menu1__dessert__prix {
      display: flex; }
      @media screen and (max-width: 630px) {
        .menu1__entrees__prix, .menu1__plat__prix, .menu1__dessert__prix {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: auto; } }
    .menu1__entrees__titre, .menu1__plat__titre, .menu1__dessert__titre {
      font-size: 200%;
      margin-top: 80px;
      text-align: center;
      font-weight: bold; }
      @media screen and (max-width: 1204px) {
        .menu1__entrees__titre, .menu1__plat__titre, .menu1__dessert__titre {
          margin: auto;
          font-size: 25px;
          margin-top: 30px; } }
      @media screen and (max-width: 630px) {
        .menu1__entrees__titre, .menu1__plat__titre, .menu1__dessert__titre {
          margin: auto;
          font-size: 20px;
          margin-top: 30px; } }
    .menu1__entrees__repas, .menu1__plat__repas, .menu1__dessert__repas {
      display: flex;
      align-items: left;
      font-size: 20px;
      text-align: left;
      justify-content: space-between;
      width: 100%; }
      @media screen and (max-width: 1204px) {
        .menu1__entrees__repas, .menu1__plat__repas, .menu1__dessert__repas {
          font-size: 15px; } }
      @media screen and (max-width: 630px) {
        .menu1__entrees__repas, .menu1__plat__repas, .menu1__dessert__repas {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: auto; } }
    .menu1__entreesimg, .menu1__platimg, .menu1__dessertimg {
      float: left; }
      @media screen and (max-width: 1204px) {
        .menu1__entreesimg, .menu1__platimg, .menu1__dessertimg {
          display: none; } }
  .menu1__left {
    float: left;
    margin-left: -20px; }
    @media screen and (max-width: 1204px) {
      .menu1__left {
        display: none; } }
  .menu1__right {
    float: right;
    margin-right: -20px; }
    @media screen and (max-width: 1204px) {
      .menu1__right {
        display: none; } }

.logo-fin {
  display: flex;
  margin: auto;
  font-size: 30px; }
  @media screen and (max-width: 1204px) {
    .logo-fin {
      font-size: 80%; } }

th, td {
  padding: 30px; }

a.underline {
  position: relative;
  text-decoration: none;
  color: black; }

a.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

a.underline:hover:before {
  visibility: visible;
  width: 100%; }

.menu2 {
  max-width: 100%;
  margin: auto;
  margin-bottom: 80px; }
  .menu2__left {
    display: flex;
    margin: auto;
    text-align: left;
    margin-left: -100px;
    margin-top: -10px; }
  .menu2__right {
    display: flex;
    margin: auto;
    text-align: right;
    margin-right: -100px;
    margin-top: -10px; }
  .menu2__main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    background-color: #fff5fe; }
    @media screen and (max-width: 1204px) {
      .menu2__main {
        width: 100%;
        margin: auto; } }
    .menu2__main__texte {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 70%; }
    .menu2__main__titre {
      font-size: 200%;
      margin: auto;
      text-align: center;
      font-family: 'Parisienne', cursive;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, #e38913, #8f5bfe); }
      @media screen and (max-width: 1204px) {
        .menu2__main__titre {
          font-size: 200%; } }
  .menu2__entrees {
    color: #c67412; }
    @media screen and (max-width: 1204px) {
      .menu2__entrees img {
        display: none; } }
    .menu2__entrees__titre {
      display: flex;
      font-size: 150%;
      margin-top: 80px;
      font-weight: bold;
      text-align: center; }
      @media screen and (max-width: 1204px) {
        .menu2__entrees__titre {
          margin: auto;
          font-size: 25px;
          margin-top: 30px;
          display: block; } }
      @media screen and (max-width: 630px) {
        .menu2__entrees__titre {
          margin: auto;
          font-size: 20px;
          margin-top: 30px;
          display: block; } }
    @media screen and (max-width: 630px) {
      .menu2__entrees__prix {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto; } }
    .menu2__entrees__repas {
      display: flex;
      align-items: left;
      font-size: 20px;
      text-align: left;
      justify-content: space-between;
      width: 100%; }
      @media screen and (max-width: 1204px) {
        .menu2__entrees__repas {
          font-size: 15px; } }
      @media screen and (max-width: 630px) {
        .menu2__entrees__repas {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: auto; } }
  .menu2__plat {
    color: #a46498; }
    @media screen and (max-width: 1204px) {
      .menu2__plat img {
        display: none; } }
    .menu2__plat__titre {
      display: flex;
      font-size: 150%;
      text-align: center;
      margin-top: 80px;
      font-weight: bold; }
      @media screen and (max-width: 1204px) {
        .menu2__plat__titre {
          margin: auto;
          font-size: 25px;
          margin-top: 30px;
          display: block; } }
      @media screen and (max-width: 630px) {
        .menu2__plat__titre {
          margin: auto;
          font-size: 20px;
          margin-top: 30px;
          display: block; } }
    @media screen and (max-width: 630px) {
      .menu2__plat__prix {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto; } }
    .menu2__plat__repas {
      display: flex;
      align-items: left;
      font-size: 20px;
      text-align: left;
      justify-content: space-between;
      width: 100%; }
      @media screen and (max-width: 1204px) {
        .menu2__plat__repas {
          font-size: 15px; } }
      @media screen and (max-width: 630px) {
        .menu2__plat__repas {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: auto; } }
  .menu2__dessert {
    color: #6e4ccc; }
    @media screen and (max-width: 1204px) {
      .menu2__dessert img {
        display: none; } }
    .menu2__dessert__titre {
      display: flex;
      font-size: 150%;
      text-align: center;
      margin-top: 80px;
      font-weight: bold; }
      @media screen and (max-width: 1204px) {
        .menu2__dessert__titre {
          margin: auto;
          font-size: 25px;
          margin-top: 30px;
          display: block; } }
      @media screen and (max-width: 630px) {
        .menu2__dessert__titre {
          margin: auto;
          font-size: 20px;
          margin-top: 30px;
          display: block; } }
    @media screen and (max-width: 630px) {
      .menu2__dessert__prix {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto; } }
    .menu2__dessert__repas {
      display: flex;
      align-items: left;
      font-size: 20px;
      text-align: left;
      justify-content: space-between;
      width: 100%; }
      @media screen and (max-width: 1204px) {
        .menu2__dessert__repas {
          font-size: 15px; } }
      @media screen and (max-width: 630px) {
        .menu2__dessert__repas {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: auto; } }

a.underline {
  position: relative;
  text-decoration: none;
  color: black; }

a.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

a.underline:hover:before {
  visibility: visible;
  width: 100%; }

a.underline.entrees {
  color: #c67412; }

a.underline.plat {
  color: #a46498; }

a.underline.dessert {
  color: #6e4ccc; }

.menu3 {
  max-width: 100%;
  margin: auto;
  margin-bottom: 80px; }
  .menu3__left {
    display: flex;
    margin: auto;
    text-align: left;
    margin-left: -100px;
    margin-top: -10px; }
  .menu3__right {
    display: flex;
    margin: auto;
    text-align: right;
    margin-right: -100px;
    margin-top: -5px; }
  .menu3__main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    background-color: #edefef; }
    @media screen and (max-width: 1204px) {
      .menu3__main {
        width: 100%; } }
    .menu3__main__texte {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 70%; }
    .menu3__main__titre {
      font-size: 200%;
      margin: auto;
      text-align: center;
      font-family: 'Parisienne', cursive;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, #0231df, #0889fb); }
      @media screen and (max-width: 1204px) {
        .menu3__main__titre {
          font-size: 200%; } }
  .menu3__entrees, .menu3__plat, .menu3__dessert {
    font-family: 'Kalam', cursive; }
    .menu3__entrees a.underline, .menu3__plat a.underline, .menu3__dessert a.underline {
      position: relative;
      text-decoration: none;
      color: black; }
    @media screen and (max-width: 1204px) {
      .menu3__entrees img, .menu3__plat img, .menu3__dessert img {
        display: none; } }
    .menu3__entrees__titre, .menu3__plat__titre, .menu3__dessert__titre {
      display: flex;
      text-align: center;
      font-size: 150%;
      margin-top: 80px;
      font-weight: bold; }
      @media screen and (max-width: 1204px) {
        .menu3__entrees__titre, .menu3__plat__titre, .menu3__dessert__titre {
          margin: auto;
          font-size: 20px;
          margin-top: 30px;
          display: block; } }
      @media screen and (max-width: 630px) {
        .menu3__entrees__titre, .menu3__plat__titre, .menu3__dessert__titre {
          margin: auto;
          font-size: 20px;
          margin-top: 30px;
          display: block; } }
    @media screen and (max-width: 630px) {
      .menu3__entrees__prix, .menu3__plat__prix, .menu3__dessert__prix {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto; } }
    .menu3__entrees__repas, .menu3__plat__repas, .menu3__dessert__repas {
      display: flex;
      align-items: left;
      font-size: 20px;
      text-align: left;
      justify-content: space-between;
      width: 100%; }
      @media screen and (max-width: 1204px) {
        .menu3__entrees__repas, .menu3__plat__repas, .menu3__dessert__repas {
          font-size: 15px; } }
      @media screen and (max-width: 630px) {
        .menu3__entrees__repas, .menu3__plat__repas, .menu3__dessert__repas {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: auto; } }

a.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

a.underline:hover:before {
  visibility: visible;
  width: 100%; }

.menu4 {
  max-width: 100%;
  margin: auto;
  margin-bottom: 80px; }
  .menu4__left {
    float: left;
    margin-left: -100px; }
  .menu4__right {
    float: right;
    margin-right: -100px;
    margin-top: -20px; }
  .menu4__main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    background-color: #fdfffd; }
    @media screen and (max-width: 1204px) {
      .menu4__main {
        width: 100%; } }
    .menu4__main__texte {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 80%; }
    .menu4__main__titre {
      font-size: 200%;
      margin: auto;
      text-align: center;
      font-family: 'Kalam', cursive;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, #41963c, #beff7f); }
      @media screen and (max-width: 1204px) {
        .menu4__main__titre {
          font-size: 200%; } }
  .menu4__entrees, .menu4__plat, .menu4__dessert {
    font-family: 'Kalam', cursive; }
    @media screen and (max-width: 1204px) {
      .menu4__entrees img, .menu4__plat img, .menu4__dessert img {
        display: none; } }
    .menu4__entrees__titre, .menu4__plat__titre, .menu4__dessert__titre {
      text-align: center;
      font-size: 190%;
      margin-top: 80px;
      font-weight: bold; }
      @media screen and (max-width: 1204px) {
        .menu4__entrees__titre, .menu4__plat__titre, .menu4__dessert__titre {
          margin: auto;
          font-size: 30px;
          margin-top: 30px; } }
      @media screen and (max-width: 630px) {
        .menu4__entrees__titre, .menu4__plat__titre, .menu4__dessert__titre {
          margin: auto;
          font-size: 20px;
          margin-top: 30px; } }
    @media screen and (max-width: 630px) {
      .menu4__entrees__prix, .menu4__plat__prix, .menu4__dessert__prix {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto; } }
    .menu4__entrees__repas, .menu4__plat__repas, .menu4__dessert__repas {
      display: flex;
      align-items: left;
      font-size: 20px;
      text-align: left;
      justify-content: space-between;
      width: 100%; }
      @media screen and (max-width: 1204px) {
        .menu4__entrees__repas, .menu4__plat__repas, .menu4__dessert__repas {
          font-size: 15px; } }
      @media screen and (max-width: 630px) {
        .menu4__entrees__repas, .menu4__plat__repas, .menu4__dessert__repas {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: auto; } }

a.underline {
  position: relative;
  text-decoration: none;
  color: black; }

a.underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

a.underline:hover:before {
  visibility: visible;
  width: 100%; }

.mentions {
  width: 70%;
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: #fff5fe;
  text-align: justify;
  font-size: 30px;
  margin-bottom: 100px; }
  .mentions__texte {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto; }
  .mentions__editeur {
    text-align: justify; }
    .mentions__editeur__titre {
      font-size: 35px; }
  .mentions__conditions {
    margin-top: 20px; }
    .mentions__conditions__titre {
      font-size: 35px;
      text-align: justify; }
  .mentions__services {
    margin-top: 20px; }
    .mentions__services__titre {
      font-size: 35px;
      text-align: justify; }
  .mentions__propriete {
    margin-top: 20px; }
    .mentions__propriete__titre {
      font-size: 35px;
      text-align: justify; }

h2 {
  text-align: center;
  font-size: 40px; }

/*# sourceMappingURL=style.css.map */
