@import "./utils/_variables.scss";
@import "./utils/_mixin.scss";
@import "./base/_base.scss";
@import "./pages/_accueil.scss";
@import "./layout/_header.scss";
@import "./layout/_footer.scss";
@import "./components/_button.scss";
@import "./pages/_menu1.scss";
@import "./pages/_menu2.scss";
@import "./pages/_menu3.scss";
@import "./pages/_menu4.scss";
@import "./pages/_mentions.scss";