$breakpoint: (
    mobile: 599px
);

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoint, mobile )){
        width: auto;
        margin: auto;
        font-size: 15px;

    }
}


.header {
    text-align: center;
    background-color:#579c87 ;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-size: 40px;
    color: #fdcb46;
    width: 100%;
    margin: auto;
    @include mobile-only;
    
}