$breakpoint: (
    mobile: 599px
);

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoint, mobile )){
        max-width: 100%;
        margin: 0px;
        

    }
}

.container {
    
    max-width: 80%;
    margin: auto;
    @include mobile-only;
    
}

