/*@font-face {
    font-family: "Bargain_Demo";
    src: url('Bargain-Demo.ttf');
}

@font-face {
    font-family:"I Love Glitter" ;
    src: url('ILoveGlitter-OTF.ttf');

}

@font-face {
    font-family: "Shadows Into Light";
    src: url('ShadowsIntoLight.ttf');
}*/

/*@include font-face ("I Love Glitter", font-files("./font/ILoveGlitter-OTF.otf", "./font/ILoveGlitter-OTF.ttf" ));*/



