
.menu {
    display: flex;
    flex-wrap: wrap;

     
    
   
    &__menu1 {
        @include menu-acceuil;
        background-color: $color-menu1;
        @include mobile-only-acceuil;
        & :hover{
            @include menu-hover;
            }

        & a {
            @include menu-a;
            @include mobile-only-acceuil;
            
                
        }

        &__img {

            @include menu-img;
            @include menu-img-mobile;
        }
        
        
        
    }

    &__menu2 {
        @include menu-acceuil;
        background-color: $color-menu2;
        @include mobile-only-acceuil;
        & a {
            @include mobile-only-acceuil;
            @include menu-a;
            
        }

        

        & :hover{
            @include menu-hover;
        }

        &__img {

            @include menu-img;
            @include menu-img-mobile;
        }
    }

    &__menu3 {
        
        
        background-color: $color-menu3 ;
        @include menu-acceuil;
        @include mobile-only-acceuil;
        & a {
            @include menu-a;
            @include mobile-only-acceuil;
            
            font-family: 'I Love Glitter';
                    

        }

        & :hover{
            @include menu-hover;
            }

         &__img {

        @include menu-img;     
        @include menu-img-mobile;   
        }
            
    }

    &__menu4 {
        @include menu-acceuil;
        background-color: $color-menu4;
        
        @include mobile-only-acceuil;
        & a {
            @include mobile-only-acceuil;
            @include menu-a;
            
            font-family: 'Shadows Into Light';
            
        }


        & :hover{
            @include menu-hover;
            }

            &__img {
                @include menu-img;
                @include menu-img-mobile;
        }
    }
}




