



.menu4 {
    max-width: 100%;
    margin: auto;
    margin-bottom: 80px;

    &__left {
        display: flex;
        margin: auto;
        float: left;
        margin-left: -100px;
        
    }
    
    &__right {
        display: flex;
        margin: auto;
        float: right;
        margin-right: -100px;
        
    }
    
    &__main {
        
        @include menu-main;
        background-color: $color-menu4 ;
        @include menu-main-tablette;

            &__texte {
                display: flex;
                margin: auto;
                flex-direction: column;
                width: 80%;
            }

        &__titre {
        @include menu-titre;
        font-family: 'Kalam', cursive;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(left,#41963c,#beff7f);
        @media screen and (max-width: map-get($breakpoint, tablette)){
            font-size: 200%;
            margin-bottom: 20px;
            
    
        }
        }

    
}

    &__entrees, &__plat, &__dessert {
        
       
        
        font-family: 'Kalam', cursive;
        & img {
            
            
            @media screen and (max-width: map-get($breakpoint, tablette )){
                display: none;
                
                
        
            }
        }

        &__titre {
            @include epd-titre;
            font-size: 190%;
            

            & a.underline {
                @include underline;
                
            

                &:before {
                    @include underline-before;
                   }
                
                   &:hover:before {
                    
                    @include underline-hover-before;
                      
                   }
              }
            @media screen and (max-width: map-get($breakpoint, tablette)){
                margin: auto;
                font-size: 30px;
                margin-top: 30px;
                display: block;
                
                
        
            }

            @media screen and (max-width: map-get($mobilepoint, mobile)){
                margin: auto;
                font-size: 20px;
                margin-top: 30px;
                
                
        
            }

        
    }

    &__prix {
        @include mobile-only-menu1-repas;
        
    }

        &__repas {
            @include menu-repas;
            @include tablette-only-menu2-repas;
            @include mobile-only-menu1-repas;

        }

    }

    
}


.titre {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @media screen and (max-width: map-get($breakpoint, tablette )){
        display: none;
        
        
        

    }

    @media screen and (max-width: map-get($mobilepoint, mobile )){
        
        display: none;
        

    }
}


  
    
   