
.mentions {
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: $color-menu2;
    text-align: justify;
    font-size: 30px;
    margin-bottom: 100px;
}