

.menu2 {
    max-width: 100%;
    margin: auto;
    margin-bottom: 80px;


    &__left {
        float: left;
        margin-left: -100px;
    }

    &__right {
        float: right;
        margin-right: -100px;
    }
   
    &__main {
        @include menu-main;
        background-color: $color-menu2 ;

        @media screen and (max-width: map-get($breakpoint, tablette )){
            width: 100%;
            margin: auto;
            }

            &__texte {
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 80%;
            }

        &__titre {
        @include menu-titre;
        font-family: 'Parisienne', cursive;
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(left,#e38913,#8f5bfe);

        @media screen and (max-width: map-get($breakpoint, tablette )){
            font-size: 40px;
            
            
    
        }
        }

    
}

    &__entrees {
       
        
        color: #c67412;
        
        & img {
            
            

            @media screen and (max-width: map-get($breakpoint, tablette )){
                display: none;
                
                
        
            }
        }

        

        &__titre {
            
            font-size: 40px;
            margin-top: 20px;
            font-weight: bold;
            text-align: center;

            @media screen and (max-width: map-get($breakpoint, tablette )){
                margin: auto;
                font-size: 25px;
                margin-top: 10px;
                
                
        
            }
        
    }

    &__prix {
        @include mobile-only-menu1-repas;
        
    }

        &__repas {
            @include menu-repas;
            @include tablette-only-menu2-repas;
            @include mobile-only-menu1-repas;

        }

    }

    &__plat{
        
        color: #a46498;
        
        & img {
            
            @media screen and (max-width: map-get($breakpoint, tablette )){
                display: none;
                
                
        
            }
        }

        
        &__titre {
            font-size: 40px;
            text-align: center;
            margin-top: 50px;
            font-weight: bold;
            
            @media screen and (max-width: map-get($breakpoint, tablette )){
                margin: auto;
                font-size: 25px;
                margin-top: 10px;
                
        
            }
        
        }

        &__prix {
            @include mobile-only-menu1-repas;
            
        }

        &__repas {
            @include menu-repas;
            @include tablette-only-menu2-repas;
            @include mobile-only-menu1-repas;

        }
    }

    &__dessert {
        
        color: #6e4ccc;
        
        & img {
           
            @media screen and (max-width: map-get($breakpoint, tablette )){
                display: none;
                
                
        
            }
        }

        &__titre {
            font-size: 40px;
            text-align: center;
            margin-top: 50px;
            font-weight: bold;

            @media screen and (max-width: map-get($breakpoint, tablette)){
                margin: auto;
                font-size: 25px;
                margin-top: 10px;
                
        
            }
        
        }

        &__prix {
            @include mobile-only-menu1-repas;
            
        }

        

        &__repas {
            @include menu-repas;
            @include tablette-only-menu2-repas;
            @include mobile-only-menu1-repas;

        }

    }
}








  a.underline {
    position: relative;
    text-decoration: none;
    color: black;
    padding-top: 25px;

  }
    
   a.underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
   }

   a.underline:hover:before {
    
        visibility: visible;
        width: 100%;
      
   }
  

   a.underline.entrees {
    color: #c67412;
   }


   a.underline.plat {
    color: #a46498;
   }


   a.underline.dessert {
    color: #6e4ccc;
   }