

.menu2 {
    max-width: 100%;
    margin: auto;
    margin-bottom: 80px;
   
    &__main {
        @include menu-main;
        background-color: $color-menu2 ;

        @media screen and (max-width: map-get($breakpoint, mobile )){
            width: 100%;
            
            
    
        }

        &__titre {
        @include menu-titre;
        font-family: 'Parisienne', cursive;
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(left,#e38913,#8f5bfe);

        @media screen and (max-width: map-get($breakpoint, mobile )){
            font-size: 200%;
            
            
    
        }
        }

    
}

    &__entrees {
        
        
        color: #c67412;
        
        & img {
            
            margin: auto;

            @media screen and (max-width: map-get($breakpoint, mobile )){
                display: none;
                
                
        
            }
        }

        

        &__titre {
            display: flex;
            font-size: 40px;
            margin-top: 20px;
            font-weight: bold;

            @media screen and (max-width: map-get($breakpoint, mobile )){
                margin: auto;
                font-size: 200%;
                
                
        
            }
        
    }

    &__prix {
        margin-right: 200px;
    }

        &__repas {
            @include menu-repas;
            @include mobile-only-menu2-repas;

        }

    }

    &__plat{
        
        color: #a46498;
        
        & img {
            margin: auto;
            @media screen and (max-width: map-get($breakpoint, mobile )){
                display: none;
                
                
        
            }
        }

        
        &__titre {
            font-size: 40px;
            display: flex;
            margin-top: 50px;
            font-weight: bold;
            
            @media screen and (max-width: map-get($breakpoint, mobile )){
                margin: auto;
                font-size: 200%;
                
        
            }
        
        }

        &__prix {
            margin-right: 200px;
        }

        &__repas {
            @include menu-repas;
            @include mobile-only-menu2-repas;

        }
    }

    &__dessert {
        
        color: #6e4ccc;
        
        & img {
            margin: auto;
            @media screen and (max-width: map-get($breakpoint, mobile )){
                display: none;
                
                
        
            }
        }

        &__titre {
            font-size: 40px;
            display: flex;
            margin-top: 50px;
            font-weight: bold;

            @media screen and (max-width: map-get($breakpoint, mobile )){
                margin: auto;
                font-size: 200%;
                
        
            }
        
        }

        &__prix {
            margin-right: 200px;
        }

        

        &__repas {
            @include menu-repas;
            @include mobile-only-menu2-repas;

        }

    }
}



.left {
    float: left;
}

.right {
    float: right;
}


  a.underline {
    position: relative;
    text-decoration: none;
    color: black;
    padding-top: 25px;

  }
    
   a.underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
   }

   a.underline:hover:before {
    
        visibility: visible;
        width: 100%;
      
   }
  

   a.underline.entrees {
    color: #c67412;
   }


   a.underline.plat {
    color: #a46498;
   }


   a.underline.dessert {
    color: #6e4ccc;
   }