




.menu1 {
    max-width: 100%;
    margin: auto;
    margin-bottom: 80px;
    font-family: 'Devonshire', cursive;

    &__main {
        @include menu-main;
        background-color: $color-menu1 ;
        @media screen and (max-width: map-get($breakpoint, mobile )){
            width: 100%;
            
            
    
        }

       

        &__img {
            display: flex;
            margin: auto;
        
            
        }

        &__titre {
            font-size: 300%;
            margin: auto;
            text-align: center;
            @media screen and (max-width: map-get($breakpoint, mobile )){
                font-size: 200%;
                
                
        
            }
        }


        
    }
        

 

   

    &__entrees, &__plat, &__dessert {
        
        margin: auto;
        font-family: 'Kalam', cursive;
        display: flex;
        margin: auto;
        flex-direction: column;
        text-align: left;
        
        &__prix {
            margin-right: 200px;
        }

        &__titre {
            display: flex;
            font-size: 300%;
            margin-top: 50px;
            font-weight: bold;
            @media screen and (max-width: map-get($breakpoint, mobile )){
                margin: auto;
                font-size: 200%;
                
                
        
            }
        
    }

        &__repas {
           @include menu-repas;
            @include mobile-only-menu1-repas;
        }

        & img {
            
            margin: auto;

            @media screen and (max-width: map-get($breakpoint, mobile )){
                display: none;
                
                
        
            }
        }

    }

    

}



.logo-fin {
    display: flex;
    margin: auto;
    font-size: 30px;

    @media screen and (max-width: map-get($breakpoint, mobile )){
        font-size: 80%;
        
        

    }

}


.left {
    float: left;
}

.right {
    float: right;
}

  th, td {
    padding: 30px;
  }

  a.underline {
    position: relative;
    text-decoration: none;
    color: black;

  }
    
   a.underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
   }

   a.underline:hover:before {
    
        visibility: visible;
        width: 100%;
      
   }


  
    
     

