


th {
    display: flex;
}

td {
    
    font-size: 30px;
}

tr {
    margin-bottom: 10px;
}




.menu3 {
    max-width: 100%;
    margin: auto;
    margin-bottom: 80px;
    font-family: 'Parisienne', cursive;
    &__main {
        
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
        background-color: $color-menu3 ;

        &__titre {
        font-size: 60px;
        margin: auto;
        text-align: center;
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(left,#0231df,#0889fb);
        }

    
}

    &__commencer {
        
        margin: auto;
        
        font-family: 'Parisienne', cursive;
        & img {
            
            margin: auto;
        }

    }

    &__continuer {
        margin: auto;
        
        font-family: 'Parisienne', cursive;
        & img {
            margin: auto;
        }
    }

    &__terminer {
        margin: auto;
        
        font-family:'Parisienne', cursive;
        & img {
            margin: auto;
        }
    }
}