@mixin menu-acceuil {
        text-align: center;
        display: flex;
        margin: auto;
        margin-top: 100px;
        height: 600px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.19);
        width: 40%;
        
        


        
}


@mixin left {
  
        
        display: flex;
        margin: auto;
        margin-left: -30px;
}


@mixin right {
  
        
        display: flex;
        margin: auto;
        margin-right: -30px;
}

@mixin underline {
            position: relative;
            text-decoration: none;
            color: black;
}

@mixin underline-before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: black;
                    visibility: hidden;
                    transition: all 0.3s ease-in-out;
}

@mixin underline-hover-before {
                        visibility: visible;
                        width: 100%;
}

@mixin epd-titre {
            display: flex;
            margin: auto;
            text-align: center;
            margin-top: 80px;
            font-weight: bold;
}


@mixin menu-img {
    width: 50%;
    margin: auto;
}

@mixin menu-img-tablette {
 @media screen and (max-width: map-get($breakpoint, tablette )) {
     
    width: 17%;
    margin: auto;
    margin-top: -15px;
 }
}

@mixin menu-img-mobile {
  @media screen and (max-width: map-get($mobilepoint, mobile )) {
      
     width: 17%;
     margin: auto;
     margin-bottom: 10px;
    margin-top: -15px;
     
  }
 }

 @mixin tablette-only-a {
  @media screen and (max-width: map-get($breakpoint, tablette )){
      width:45%;
      margin: auto;
      height: 300px;
      font-size: 200%;
      margin-bottom: 10%;
      margin-top: 10%;
      

      
  }
}

@mixin mobile-only-acceuil {
@media screen and (max-width: map-get($mobilepoint, mobile )){
    width: 100%;
    margin: auto;
    height: 200px;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
    

    
}
}

@mixin mobile-only-a {
@media screen and (max-width: map-get($mobilepoint, mobile )){
    width: 100%;
    margin: auto;
    
    font-size: 30px;
    
    

    
}
}



@mixin tablette-only-menu {
@media screen and (max-width: map-get($breakpoint, tablette )){
    width: 100%;
    margin: auto;
    height: 100%;
    font-size: 150%;
    margin-top: 10%;
    margin-bottom: 10%;
    
    

    
}
}


@mixin tablette-only-base {
  @media screen and (max-width: map-get($breakpoint, tablette )){
      max-width: 100%;
      margin: 0px;
      

  }
}

@mixin tablette-only-header {
  @media screen and (max-width: map-get($breakpoint, tablette )){
      width: 100%;
      margin: auto;
      font-size: 15px;

  }
}

@mixin tablette-only-footer {
  @media screen and (max-width: map-get($breakpoint, tablette )){
      width: 100%;
      margin: auto;
      font-size: 15px;
  }
}


@mixin tablette-only-button {
    @media screen and (max-width: map-get($breakpoint, tablette )){
        
        padding: 2px;
        font-size: 15px;
        height: 50px;
        margin: auto;
        padding-top: 15px;

    }
}

@mixin tablette-only-menu1-repas {
  @media screen and (max-width: map-get($breakpoint, tablette )){
      font-size: 15px;
      
      

  }
}

@mixin mobile-only-menu1-repas {
  @media screen and (max-width: map-get($mobilepoint, mobile )){
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: auto;
      
 }
}

@mixin tablette-only-menu2-repas {
  @media screen and (max-width: map-get($breakpoint, tablette )){
      font-size: 15px;
      
      

  }
}


@mixin menu-hover {
    
   
   transition: all 300ms ease-in;

   
    transform: scale(1.2);
    opacity: 0.7;
    
}

@mixin menu-a {
        
    display: flex;
    flex-direction: column;
    margin: auto;
    text-decoration: none;
    font-size: 40px;
    

}


@mixin button-a {
    text-decoration: none;
    color:#fdcb46;
    font: 25px Arial;
    display: inline;
    margin: auto;
    vertical-align: middle;
    
}

@mixin menu-main {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 60%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.19);
        margin-bottom: 150px;
        padding-bottom: 150px;
        padding-top: 150px;
        
}

@mixin menu-main-tablette {
@media screen and (max-width: map-get($breakpoint, tablette )){
  width: 100%;
  margin: auto;
  padding-top: 20px;
 
}
}

@mixin menu-titre {
        font-size: 60px;
        margin: auto;
        
        text-align: center;
        
        margin-bottom: 100px;
}

@mixin menu-repas {
  display: flex;
  
  font-size: 20px;
  text-align: left;
  justify-content: space-between;
  width: 100%;
}


@mixin points-prochainement {
    @keyframes points {
        0%{
          
          transform: translateY(0);
        }
        25%{
          
          transform: translateY(-2.5px);
        }
        40%{
          
          transform: translateY(0);
        }
        50%{
          
          transform: translateY(0);
        }
        60%{
          
          transform: translateY(0);
        }
        75%{
          
          transform: translateY(-2.5px);
        }
        100%{
          
          transform: translateY(0);
        }
      }
      
}


@mixin wiggle {
    @keyframes angry-animation {
        0%{
          
          transform: translateX(0);
        }
        5%{
          
          transform: translateX(-10px);
        }
        10%{
          
          transform: translateX(10px);
        }
        15%{
          
          transform: translateX(-10px);
        }
        20%{
          
          transform: translateX(10px);
        }
        25%{
          
          transform: translateX(-10px);
        }
        30%{
          
          transform: translateX(10px);
        }
        35%{
          
          transform: translateX(-10px);
        }
        40%{
          
          transform: translateX(10px);
        }
        45%{
          
          transform: translateX(-10px);
        }
        50%{
          
          transform: translateX(0);
        }
      }
}



